@{
    ViewBag.Title = "Inicio";
}

<hr />
<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>
        Aqui você encontrará as melhores e mais saborosas receitas.
        Disponibilizadas gratuitamente, GOD'SFOOD tem criado visibilidade e conteúdo exclusivo para nossos usuários.
        Para começar a produzir ou criar conteúdo
    </p>
    <div class="texto">
        <a class="btn bg-danger text-white" @Html.ActionLink("Receitas", "receita1", "Home")</a>
        <br />
        <br />
        <a class="btn bg-danger text-white" @Html.ActionLink("Parceria", "parceria", "Home")</a>
    </div>
    
    <p><br />-</p>
    
</div>
<hr />
<br />
<br />
<h2>Sobre</h2>
<p>
    Levando em consideração todo o cenário virtual nos dias atuais, temos que escolher uma solução adequada e facilitadora para a escolha do seu futuro consumo.
    Assim como há diversos alimentos a serem explorados, há consumidores procurando por eles, logo, nos vemos na obrigação de auxiliar e acompanhar esse processo
    super enigmático.
</p>
<br />
<h2>Projeto Coletivo</h2>
<p>
    Temos como objetivo principal, o aprimoramento e o feedback intensivo
    das receitas atuais. Estamos em uma equipe apta para tal desafio e daremos nosso melhor para a conclusão do projeto em processo.
</p>
<br />
<h2>Receita</h2>
<p>
    No que diz respeito às receitas de cozinha (ou de culinária), são as instruções que explicam que ingredientes levam determinado prato e a forma como este se deve confeccionar. As receitas indicam o procedimento adequado para que o prato em questão seja saboroso.
</p>
<br />
<hr />
<div class="container px-0">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-transparent">Todos os usuários podem enviar suas receitas caseiras em nosso E-mail, caso aprecie nosso desenvolvimento coletivo envie sua receita para <a href="mailto:godsfoodd@gmail.com">godsfoodd@gmail.com</a> </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-transparent">Para nos aproximarmos de nossos usuários, criamos um instagram para acompanhamento de feedback e sugestões de funcionalidades para nosso projeto.</div>
        </div>
    </div>

</div>

<hr />
<br />
<h2>Noticias</h2>
<br />
<div class="d-flex position-relative">
    <img src="~/img/inicio/igicone.jfif" class="flex-shrink-1 mr-3" alt="Instagram" width="150px">
    <div>
        <h5 class="mt-0">INSTAGRAM NOVO!!</h5>
        <p>VENHA NOS VISITAR, FIQUE POR DENTRO DE TODAS AS NOVIDADES E ATUALIZAÇÕES EM NOSSA PÁGINA. RECEITAS, DESIGN E MUITO MAIS!!!</p>
        <a href="https://www.instagram.com/_god.sfood/" class="stretched-link">visitar</a>
    </div>
</div>
<hr />
